@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    /*Pour éviter que quand la page soit trop petite en height et que le background color se duplique*/
    height: 100%;
    min-height: 100dvh;
    color: white;
}

* {
    font-family: 'Raleway', sans-serif;
}

button {
    user-select: none;
}